//mixins.scss
@mixin bg-strike($color1, $color2) {

  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;

  > span {
    font-size:2rem;
    font-weight: 500;
    position: relative;
    display: inline-block;

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      width: 9999px;
      height:2px;
      background: linear-gradient(to right, $color1, $color2);
    }

    &:before {
      right: 100%;
      margin-right: 5rem;
    }

    &:after {
      left: 100%;
      margin-left: 5rem;
    }
  }
}

//end mixins