/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*Google Fonts import */
/*SASS Variables */
.mb3 {
  margin-bottom: 2rem; }

html {
  min-height: 100%;
  background: linear-gradient(MidnightBlue, RoyalBlue);
  background: -webkit-gradient(linear, center top, center bottom, from(MidnightBlue), to(RoyalBlue));
  background: -webkit-linear-gradient(MidnightBlue, RoyalBlue);
  background: -moz-linear-gradient(MidnightBlue, RoyalBlue);
  background: -o-linear-gradient(MidnightBlue, RoyalBlue);
  background: -ms-linear-gradient(MidnightBlue, RoyalBlue);
  background: linear-gradient(MidnightBlue, RoyalBlue); }

body {
  height: 100%;
  font-family: "Cabin", sans-serif; }

h2 {
  font-size: 1.3rem;
  font-weight: 500; }

.t1 h1 {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 2.6rem; }

/* Text in middle of line mixin */
/* Start of right side product grid */
.main-nav ul li {
  list-style: none;
  display: inline-flex;
  padding: 25px;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px; }

.avatar {
  border-radius: 50%;
  margin-bottom: 50px; }

.product-grid {
  max-width: 19rem;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.product-grid a img {
  max-width: 200px;
  max-height: 200px;
  display: inline-flex;
  padding: 20px; }

.product-grid a:hover img {
  transition: background-color 0.5s ease;
  background-color: aliceblue;
  border-radius: 25%; }

/* Start info section below product grid - I build products bit etc */
.info {
  display: inline-block; }
  .info h2 {
    font-size: 1.8rem;
    font-weight: 500;
    color: goldenrod; }
  .info .info-links {
    list-style-type: none;
    display: flex; }
  .info a {
    position: relative;
    color: ghostwhite;
    text-decoration: none; }
  .info a:hover {
    color: ghostwhite; }
  .info a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: ghostwhite;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s; }
  .info a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }

/* Import of strikethrough for headings */
.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap; }
  .strike > span {
    position: relative;
    display: inline-block; }
    .strike > span:before, .strike > span:after {
      content: "";
      position: absolute;
      top: 50%;
      width: 9999px;
      height: 2px;
      background: linear-gradient(to right, Thistle, Plum); }
    .strike > span:before {
      right: 100%;
      margin-right: 10rem; }
    .strike > span:after {
      left: 100%;
      margin-left: 10rem; }

/* Media Queries */
@media all and (max-width: 320px) {
  .t2 {
    margin-left: 0; } }
@media all and (max-width: 768px) {
  .product-grid {
    max-width: 44rem; } }
/*@media only screen and (max-width:960px){
  .product-grid{
    transform:translateY(0);
    max-width:100%;
  }
}*/
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */ }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
           http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre {
    white-space: pre-wrap !important; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=main.css.map */
